@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700');

/* GLOBAL STYLES */
*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}
	
:root{
	
	--nao-metal:rgb(180,210,100);
	--gas-nobre:rgb(100,180,225);
	--metal-alcalino:rgb(245,200,100);
	--metal-alcalino-terroso:rgb(240,230,90);
	--semimetal:rgb(110,200,190);
	--halogenio:rgb(170,225,255);
	--outros-metais:rgb(190,210,210);
	--metal-transicao:rgb(245,175,175);
	--lantanideo:rgb(150,225,225);
	--actinidio:rgb(230,190,220);
}

body{
	font:1em/1 'Montserrat', sans-serif;
	color:rgb(6, 6, 6);
	text-align:center;
	padding:1em 5%;
	background:var(--bg-preto);	
}

td {
    border: 1px solid black;
	padding: 8px;
	border-collapse: separate;
}