@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700');

/* GLOBAL STYLES */
*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}

:root{
	--bg-preto:rgb(0,0,0);
	--nao-metal:rgb(174, 219, 50);
	--gas-nobre:rgb(102, 169, 208);
	--metal-alcalino:rgb(228, 167, 35);
	--metal-alcalino-terroso:rgb(227, 217, 75);
	--semimetal:rgb(110,200,190);
	--halogenio:rgb(187, 193, 197);
	--outros-metais:rgb(89, 197, 197);
	--metal-transicao:rgb(236, 126, 126);
	--lantanideo:rgb(150, 220, 220);
	--actinidio:rgb(238, 97, 203);
}

.nao-metal{
	color:var(--nao-metal);
}
	
.gas-nobre{
	color:var(--gas-nobre);
}

.metal-alcalino{
	color:var(--metal-alcalino);
}
	
.metal-alcalino-terroso{
	color:var(--metal-alcalino-terroso);
}
	
.semimetal{
	color:var(--semimetal);
}
	
.halogenio{
	color:var(--halogenio);
}
	
.outros-metais{
	color:var(--outros-metais);
}
	
.metal-transicao{
	color:var(--metal-transicao);
}
	
.lantanideo{
	color:var(--lantanideo);
}
	
.actinidio{
	color:var(--actinidio);
}

section{
	color:white;
	text-align:center;
	padding:1em 5%;
	
}

body {
    font-family: sans-serif;
    text-align: center;
    padding-left: 82px;
	background:black;
}

h1{
	margin:.5em 0;
	font-size:calc(3vw + 2rem);
	font-weight:100;
	text-transform:uppercase;
	letter-spacing:-.05em;
}

h2{
	font-size:2em;
}

table {
    margin: 50px;
	width: 400px;
	border-collapse: separate;
	
}

td {
    height: 100px;
    width: 50px;
	border: 1px solid rgb(255, 251, 251);
	padding: 8px;
}


:root{
	--bg-preto:rgb(0,0,0);
	--nao-metal:rgb(174, 219, 50);
	--gas-nobre:rgb(102, 169, 208);
	--metal-alcalino:rgb(228, 167, 35);
	--metal-alcalino-terroso:rgb(227, 217, 75);
	--semimetal:rgb(110,200,190);
	--halogenio:rgb(187, 193, 197);
	--outros-metais:rgb(89, 197, 197);
	--metal-transicao:rgb(236, 126, 126);
	--lantanideo:rgb(150, 220, 220);
	--actinidio:rgb(238, 97, 203);
}

.nao-metal{
	color:var(--nao-metal);
}
	
.gas-nobre{
	color:var(--gas-nobre);
}

.metal-alcalino{
	color:var(--metal-alcalino);
}
	
.metal-alcalino-terroso{
	color:var(--metal-alcalino-terroso);
}
	
.semimetal{
	color:var(--semimetal);
}
	
.halogenio{
	color:var(--halogenio);
}
	
.outros-metais{
	color:var(--outros-metais);
}
	
.metal-transicao{
	color:var(--metal-transicao);
}
	
.lantanideo{
	color:var(--lantanideo);
}
	
.actinidio{
	color:var(--actinidio);
}

footer{
	font-size:.8em;
	text-align:left;	
	flex-basis:13.5rem;
	margin:-.25em 0 0 1em;
}

ul{
	display:flex;
	flex-wrap:wrap;
  position:sticky;
  top:1em;
}

li{
	flex-basis:100%;
	line-height:1.25;
	margin-bottom:1em;	
}	

li:before{
	content:' ';
	display:inline-block;
	width:1em;
	height:1em;
	border:.125em solid;
	border-radius:.125rem;	
	margin-right:.5em;
	position:relative;
	top:.25em;
}
